<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SYSearchControllerExmaple.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>023A39E81D8B9FD300162A99</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>023A3A011D8B9FD300162A99</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>023A3A0C1D8B9FD300162A99</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
